mixin section-general(data)
	.section
		.section__in
			h2.section__title.title
				span #{data.title}
			block


mixin section-welcome(data)
	.section.section_welcome
		.section__in
			h2.section__title.title
				span #{data.title}
			block

mixin section-second(data)
	.section.section_second
		.section__in
			h2.section__title.title
				span #{data.title}
			block

mixin section-main-2(data)
	.section&attributes()
		.section__in
			h2.section__title.title
				span #{data.title}
			block


mixin section-about(data)
	.section.section_about
		.section__in
			h2.section__title.title
				span #{data.title}
			block

mixin section-contacts(data)
	.section.section_contacts
		.section__in
			h2.section__title.title
				span #{data.title}
			block
